mixin xllogo
  div(class=cls).svgicon
    include ../img/xllogo.svg

mixin rhlogo
  div(class=cls).svgicon
    include ../img/rhlogo.svg

mixin icon-grid(cls)
  div(class=cls).svgicon
    include ../img/grid.svg

mixin icon-list(cls)
  div(class=cls).svgicon
    include ../img/list.svg

mixin icon-chevron-down(cls)
  div(class=cls).svgicon
    include ../img/chevron-down.svg

mixin icon-search(cls)
  div(class=cls).svgicon
    include ../img/search.svg

mixin icon-flag(cls)
  div(class=cls).svgicon
    include ../img/flag.svg

mixin icon-bell(cls)
  div(class=cls).svgicon
    include ../img/bell.svg

mixin icon-user(cls)
  div(class=cls).svgicon
    include ../img/user.svg

mixin icon-mobile(cls)
  div(class=cls).svgicon
    include ../img/smartphone.svg

mixin icon-box(cls)
  div(class=cls).svgicon
    include ../img/box.svg

mixin icon-package(cls)
  div(class=cls).svgicon
    include ../img/package.svg